<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.example"></context:component-scan>

    <bean id="customer" class="org.example.Customer">
        <constructor-arg name="FirstName" value="tawfeek"></constructor-arg>
        <property name="firstName" value="toto"></property>
    </bean>
    <bean id="customPostBeanProcessor" class="org.example.CustomBeanPostProcessor">
    </bean>

</beans>